/* 
    Created on : 30-Apr-2016, 11:51:03
    Author     : Cameron Small
*/

iframe{
    border:none;
}

.card-panel .row{
    margin-bottom:0;
}

.pointer{
    cursor:pointer;
}

#main-nav{
    background-color:#EC2228;
}

#search-container{
    //background-color:#EC2228;
}

#tv-logo{
    height:48px;
    margin:8px;
}

.video-container{
    background-size:cover;
}

#main-content{
    margin-top:2em;
}


#player-container{
    background-color:black;
}

#player-description{
    margin-top:0.5rem;
}

#player-tags{
    margin-top:0.5rem;
    
}

#player-playlist{
    margin-top:-0.5rem;
}

.playlist-item{
    cursor:pointer;
}

.search-result-title{
    font-size: 1.5em;
}