/* 
    Created on : 30-Apr-2016, 11:51:03
    Author     : Cameron Small
*/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    
}


a{
    color:inherit;
}

iframe{
    border:none;
}

.card-panel .row{
    margin-bottom:0;
}

.pointer{
    cursor:pointer;
}

.readable{
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.italic{
    font-style:italic;
}

#main-nav{
    background-color:#EC2228;
}

#search-bar{
    height:64px;
}

#search-container{
    //background-color:#EC2228;
}

#tv-logo{
    height:48px;
    margin:8px;
}

.video-container{
    background-size:cover;
}

#main-content{
    margin-top:2em;
}

.channel-nowplaying{
    white-space:nowrap;
}

.player-container {
    background-color:black;
    width: 100%;
    display: inline-block;
    position: relative;
}
.player-container:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.player-inner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
 width:100%;
height:100%;
overflow:hidden;
}

#player-description{
    margin-top:0.5rem;
}

#player-tags{
    margin-top:0.5rem;
    
}

#player-playlist{
    margin-top:-0.5rem;
}

.playlist-item{
    cursor:pointer;
}

.search-result-title{
    font-size: 1.5em;
}

#footer{
    background-color:#EC2228;
}

#footer-logo{
    height:100px;
    margin-top:-20px;
}

#footer-section-logos img{
    width:30%;
    display:inline-block;
}

/* Player container special adjustments */

.spotify-container:after{
  padding-top:109.45%;
}

.cinescope-container:after{
    padding-top:41.7%;
}

@media(max-width:600px){
    #tv-logo{
        height:40px;
    }
    
    .container{
        overflow:hidden;
    }

}